@media (min-width: 530px) {
  #root {
    width: 99%;
    text-align: center;
  }


  .shadow {
    width: 50%;
    height: 45vh;
    background-color: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  .ContentContainer {
    text-align: left;
    display: grid;
    padding-top: 5%;
    padding-left: 12%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .contentComponent1,
  .contentComponent2,
  .contentComponent3,
  .contentComponent4 {
    /* background-image: url('/2024-06-29 (6).png');
      background-repeat: no-repeat;
      background-position: cover; */
    display: grid;
    padding-left: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    place-content: center;
    margin-bottom: 10%;
    width: 98%;
    height: 50vh;
  }

  .contentComponent1Image,
  .contentComponent2Image,
  .contentComponent3Image,
  .contentComponent4Image { 
    max-width: 100%;
    margin: auto;
    align-items: center;
  }

  .contentComponent1Image img,
  .contentComponent2Image img,
  .contentComponent3Image img,
  .contentComponent4Image img { /*this makes the image responsive*/ 
    max-width: 100%;
    height: auto;
  }

  .contentComponent1Info,
  .contentComponent2Info,
  .contentComponent3Info,
  .contentComponent4Info {
    max-width: 90%;
    margin: auto;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
  }
}

/* I have left these stylings here as I would like to integrate the logo spin and drop shadow in my site.
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
